


{% extends "layout.html" %}
{% block content %}
    {% for ph in pharmacies %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ ph.coords }}">to google maps</a>
              <small class="text-muted">{{ ph.address }}</small>
            </div>
            <h2><a class="article-title">{{ ph.pharmacy_name }}</a></h2>
            <a class="article-content" href="{{ url_for('get_medicines', pharmacy_id=ph.id) }}">Get medicines</a>
            {% if current_user.is_authenticated %}
              <div>
                  <a class="article-content" href="{{ url_for('edit_pharmacy', pharmacy_id=ph.id) }}">Edit </a>
                  <a class="article-content" href="{{ url_for('delete_pharmacy', pharmacy_id=ph.id) }}">Delete</a>
              </div>
              <div>
                  <a class="article-content" href="{{ url_for('edit_medicines_in_pharm', pharmacy_id=ph.id) }}">Edit medicines</a>
                <a class="article-content" href="{{ url_for('delete_medicines_in_pharm', pharmacy_id=ph.id) }}">Delete medicines</a>
              </div>
              {% endif %}
          </div>
        </article>
    {% endfor %}
{% endblock content %}